@function multiplyPadding($value, $value2) {
    @return $value * $value2;
}

@function pow($base, $exponent) {
    $result: 1;
    @for $_ from 1 through $exponent {
        $result: $result * $base;
    }
    @return $result;
}

.block1 {
    padding: multiplyPadding(5px, 2);
}
.block2 {
    float: left;
    margin-left: pow(4, 3) * 1px;
}